In [6]:
print("dgghgcv")

dgghgcv

In [10]:
age = 12
height = 7.5
is_married = True
name = "evans"

In [17]:
print(type(age))

<class 'int'>

In [18]:
type(height)

float

In [19]:
print(type(height))

<class 'float'>

In [20]:
type(15)

int

In [21]:
print(type(15))

<class 'int'>

In [22]:
print(type(is_married))

<class 'bool'>

In [25]:
print(type(name))

<class 'str'>

In [27]:
print(type("mayowa"))

<class 'str'>

In [32]:
print(4 // 2)

2

In [35]:
# addition

print(2 + 2)

4

In [36]:
# multiply

print(2 * 3)

6

In [37]:
# subtraction

print(3 - 2)

1

In [38]:
# division, this will give decimal result

print(4 / 2)

2.0

In [39]:
# floor division, this will give round figure result

print(4 // 2)

2

In [41]:
# modulo, this get the remainder

print(5 % 2)

1

In [49]:
print("a" * 2)

aa

In [1]:
x = 2

In [2]:
print(float(x))

2.0

In [4]:
y = 3.5

In [5]:
print(int(y))

3

In [10]:
k = "3.5"

In [12]:
print(int(float(k)))

3

In [13]:
num = 2

In [15]:
print(type(str(num)))

<class 'str'>

In [18]:
con = "Hello " + "everyone!"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
print(con)

Hello everyone!

In [20]:
print("Hello " + 8)

TypeError: can only concatenate str (not "int") to str

In [23]:
print("mayowa"s phone)

SyntaxError: invalid syntax (<ipython-input-23-86b572b472d7>, line 1)

In [26]:
print("mayowa's number")

mayowa's number

In [39]:
number = int(input("enter an integer: "))
total = number + 10
print(f"")

enter an integer: 20
The total number is 30

In [49]:
x = "25 Dec 1990"

In [58]:
our_year = x[7:11]

In [59]:
print(f"The year is {our_year}")

The year is 1990

In [60]:
b = "mayowa"

In [64]:
print(b[-2:])

wa

In [78]:
empty_list = [1, 2, 3, 4, 5]

In [79]:
empty_list.append(6)

In [80]:
print(empty_list)

[1, 2, 3, 4, 5, 6]

In [109]:
empty = []

In [110]:
student = ["mayowa", "desmond", "seyi", "evans"]

In [111]:
empty.append(student[0])
empty.append(student[1])
empty.append(student[2])
empty.append(student[3])

In [112]:
print(empty)

['mayowa', 'desmond', 'seyi', 'evans']

In [116]:
print(empty)

['mayowa', 'desmond', 'seyi', 'evans']

In [117]:
empty.remove(empty[-1])

In [118]:
print(empty)

['mayowa', 'desmond', 'seyi']

In [113]:
student = ["mayowa", "desmond", "seyi", "evans"]

In [114]:
student.remove(student[-1])

In [115]:
print(student)

['mayowa', 'desmond', 'seyi']

In [119]:
a = [1, 2]
b = [10, 20]

In [125]:
print(a + b)

[1, 2, 10, 20]

In [141]:
nested = [['A', 'man'], ['a', 'plan'], ['a', 'canal'], ['Panama', '!']]

In [127]:
print(len(nested))

4

In [146]:
print(nested[1] + nested[2])

['a', 'plan', 'a', 'canal']

In [148]:
print(len(nested[1] + nested[2]))

4

In [136]:
print(nested[1:3])

[['a', 'plan'], ['a', 'canal']]

In [143]:
first = nested[1]
second = nested[2]
print(first + second)

['a', 'plan', 'a', 'canal']

In [ ]:
['a', 'plan', 'a', 'canal']

In [151]:
numbers = [1, 1, 3]

In [156]:
total = sum(numbers)
length = len(numbers)

In [157]:
print(total/length)

1.6666666666666667

In [158]:
print(min(numbers))

1

In [159]:
print(max(numbers))

3

In [184]:
lst = [1, 4, 3, 7]

In [163]:
print(sorted(lst, reverse=True))

[7, 4, 3, 1]

In [186]:
lst.reverse()

In [187]:
print(lst)

[1, 4, 3, 7]

In [175]:
statement = "I love you"

In [177]:
print(statement.replace("you", "mayowa"))

I love mayowa

In [178]:
text = "testing my new"

In [179]:
print(text.replace("new", "function"))

testing my function

# sets

In [188]:
dupe_list = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]

In [189]:
print(set(dupe_list))

{1, 2, 3, 4, 5}

In [190]:
names = ["ayo", "deji", "ayo"]

In [192]:
new_set = set(names)

In [194]:
print(list(new_set))

['deji', 'ayo']

In [195]:
dupe_list = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]

In [196]:
remove_duplicates = set(dupe_list)

In [200]:
list_convert = list(remove_duplicates)

In [201]:
print(list_convert)

[1, 2, 3, 4, 5]

# Tuple

In [202]:
first_tuple = (1, 2, 3, 4)

In [203]:
print(type(first_tuple))

<class 'tuple'>

In [204]:
# you cannot append into a tuple
first_tuple.append(7)

AttributeError: 'tuple' object has no attribute 'append'

In [205]:
convert = list(first_tuple)

In [207]:
print(convert)

[1, 2, 3, 4]

In [208]:
convert.append(10)

In [209]:
print(convert)

[1, 2, 3, 4, 10]

In [210]:
tuple_convert = tuple(convert)

In [213]:
print(tuple_convert)

(1, 2, 3, 4, 10)

In [212]:
print(type(tuple_convert))

<class 'tuple'>

# Dictionary

In [214]:
ages = {'Brian':23, 'Amy':22, 'Darlene':47, 'Ralph':32, 'Jordan':28, 'Stephanie':35}

In [215]:
print(type(ages))

<class 'dict'>

In [218]:
first = ages["Amy"]

In [219]:
print(first)

22

In [220]:
print(ages.keys())

dict_keys(['Brian', 'Amy', 'Darlene', 'Ralph', 'Jordan', 'Stephanie'])

In [221]:
print(ages.values())

dict_values([23, 22, 47, 32, 28, 35])

In [222]:
print(ages)

{'Brian': 23, 'Amy': 22, 'Darlene': 47, 'Ralph': 32, 'Jordan': 28, 'Stephanie': 35}

In [223]:
ages['Vanessa'] = 30

In [224]:
print(ages)

{'Brian': 23, 'Amy': 22, 'Darlene': 47, 'Ralph': 32, 'Jordan': 28, 'Stephanie': 35, 'Vanessa': 30}

In [225]:
del ages['Vanessa']

In [226]:
print(ages)

{'Brian': 23, 'Amy': 22, 'Darlene': 47, 'Ralph': 32, 'Jordan': 28, 'Stephanie': 35}

# Range

In [1]:
new = range(10)

In [3]:
range_list = list(range(10))

In [4]:
print(range_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# CONTROL FLOW

## Python condition evaluators

In [8]:
#evaluators
print(2 == 3)

False

In [9]:
x = "mayowa"
y = "Mayowa"

In [10]:
print(x == y)

False

In [11]:
print(y.lower())

mayowa

In [12]:
print(y.upper())

MAYOWA

In [13]:
#equal to
print(x == y.lower())

True

In [14]:
#not equal to
print(3 != 2)

True

In [15]:
print(3 > 1)

True

In [16]:
print(10 < 20)

True

In [17]:
print(5 >= 5)

True

In [18]:
print(5 <= 3)

False

In [19]:
name = "mayowa"

In [20]:
print("a" in name)

True

In [21]:
print("A" not in name)

True

In [22]:
print(3 in [1,2,3,4,5])

True

In [23]:
print(3 not in [1,2,3,4,5])

False

In [24]:
print((5 + 5 == 10) & ('apple' != 'orange'))

True

In [25]:
print((5 + 5 == 11) & ('apple' != 'orange'))

False

In [26]:
print((100 > 75) | (93 < 80))

True

In [27]:
print((93 < 80) | (3 not in [1,2,3,4,5]))

False

# Conditional logic

In [34]:
x = 6

In [35]:
if x == 5:
    print("x is 5")
else:
    print("x is not 5")

x is not 5

In [38]:
j = 3

In [40]:
if x > 2:
    operation = j + 10
    print(operation)
else:
    print("x is greater than 2")

13

In [41]:
lst = [1, 2, 4, 3, 6]

In [42]:
if 3 in lst:
    print("the list contain integer 3")
else:
    print("please 3 is not in the list")

the list contain integer 3

In [44]:
if 7 in lst:
    print("the list contain integer 7")
else:
    print("please 7 is not in the list")

please 7 is not in the list

In [47]:
age = int(input("enter your age: "))

if age >= 18:
    print("you are eligible to watch porn")
else:
    print("you are too young, hence you are not eligible to watch porn")

enter your age: 17
you are too young, hence you are not eligible to watch porn

In [48]:
age = int(input("enter your age: "))

if age >= 18:
    print("you are eligible to watch porn")
else:
    print("you are too young, hence you are not eligible to watch porn")

enter your age: 20
you are eligible to watch porn

In [49]:
age = int(input("How old are you: "))

if type(age) == int:
    total = age + 10
    print(total)
else:
    print("Please enter a valid age digit")

How old are you: 20
30

In [62]:
number = 1

In [63]:
if number < 7:
    print("number is less than 7")
elif number > 7:
    print("number is greater than 7")
else:
    print("number is 7")

number is less than 7

In [68]:
new_lst = [1, 43, 6, 3, 6, 3]

In [69]:
if len(new_lst) > 5:
    print("The total element in the list is greater than 5")
elif len(new_lst) < 5:
    print("The total elemeht in the list is less than 5")
else:
    print("The Total element in the list is 5")

The total element in the list is greater than 5

In [82]:
commute = 30
rain = True
traffic = True



if (rain == True) & (traffic == True):
    total = commute + 10 + 15
    print(f"The total commute time is {total} minutes")
elif (rain == True) & (traffic == False):
    total = commute + 10
    print(f"The total commute time is {total} minutes")
elif (rain == False) & (traffic == True):
    total = commute + 15
    print(f"The total commute time is {total} minutes")
else:
    total = commute
    print(f"The total commute time is {total} minutes")

The total commute time is 55 minutes

In [83]:
commute = 30
rain = False
traffic = False



if (rain == True) & (traffic == True):
    total = commute + 10 + 15
    print(f"The total commute time is {total} minutes")
elif (rain == True) & (traffic == False):
    total = commute + 10
    print(f"The total commute time is {total} minutes")
elif (rain == False) & (traffic == True):
    total = commute + 15
    print(f"The total commute time is {total} minutes")
else:
    total = commute
    print(f"The total commute time is {total} minutes")

The total commute time is 30 minutes

# FOR LOOPS

In [95]:
rang = range(5)

In [96]:
convert_lst = list(rang)

In [97]:
print(convert_lst)

[0, 1, 2, 3, 4]

In [110]:
digits = [1, 2, 3]

In [112]:
for k in digits:
    print(k * 2)

2
4
6

In [113]:
empty_list = []

digits = [1, 2, 3]

for i in digits:
    empty_list.append(i * 2)

In [114]:
print(empty_list)

[2, 4, 6]

In [124]:
x = [1, 2, 3]

In [123]:
for i in x:
    print(i)

1
2
3

In [125]:
names = ["mayowa", "seyi", "desmond"]

In [130]:
for i in names:
    if i[0:2] == "ma":
        print(i)

mayowa

In [128]:
names[0][0:2]

'ma'

In [ ]:
names = ["mayowa", "seyi", "desmond"]

In [137]:
names[0][0:2]

'ma'

In [136]:
for i in names:
    print(i[0:2])

ma
se
de

In [139]:
numbers = [1, 2, 3]

for i in numbers:
    print(i * 2)

2
4
6

In [142]:
numbers = [1, 2, 3]

for i in numbers:
    print(i * 2)
    print("thank you")

2
thank you
4
thank you
6
thank you

In [145]:
numbers = [1, 2, 3]

for i in numbers:
    print(i * 2)
    print(i * 3)
    
print(10 * 10)

2
3
4
6
6
9
100