In [6]:
print("dgghgcv")

dgghgcv

In [10]:
age = 12
height = 7.5
is_married = True
name = "evans"

In [17]:
print(type(age))

<class 'int'>

In [18]:
type(height)

float

In [19]:
print(type(height))

<class 'float'>

In [20]:
type(15)

int

In [21]:
print(type(15))

<class 'int'>

In [22]:
print(type(is_married))

<class 'bool'>

In [25]:
print(type(name))

<class 'str'>

In [27]:
print(type("mayowa"))

<class 'str'>

In [32]:
print(4 // 2)

2

In [35]:
# addition

print(2 + 2)

4

In [36]:
# multiply

print(2 * 3)

6

In [37]:
# subtraction

print(3 - 2)

1

In [38]:
# division, this will give decimal result

print(4 / 2)

2.0

In [39]:
# floor division, this will give round figure result

print(4 // 2)

2

In [41]:
# modulo, this get the remainder

print(5 % 2)

1

In [49]:
print("a" * 2)

aa

In [1]:
x = 2

In [2]:
print(float(x))

2.0

In [4]:
y = 3.5

In [5]:
print(int(y))

3

In [10]:
k = "3.5"

In [12]:
print(int(float(k)))

3

In [13]:
num = 2

In [15]:
print(type(str(num)))

<class 'str'>

In [18]:
con = "Hello " + "everyone!"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
print(con)

Hello everyone!

In [20]:
print("Hello " + 8)

TypeError: can only concatenate str (not "int") to str

In [23]:
print("mayowa"s phone)

SyntaxError: invalid syntax (<ipython-input-23-86b572b472d7>, line 1)

In [26]:
print("mayowa's number")

mayowa's number

In [39]:
number = int(input("enter an integer: "))
total = number + 10
print(f"")

enter an integer: 20
The total number is 30

In [49]:
x = "25 Dec 1990"

In [58]:
our_year = x[7:11]

In [59]:
print(f"The year is {our_year}")

The year is 1990

In [60]:
b = "mayowa"

In [64]:
print(b[-2:])

wa

In [78]:
empty_list = [1, 2, 3, 4, 5]

In [79]:
empty_list.append(6)

In [80]:
print(empty_list)

[1, 2, 3, 4, 5, 6]

In [109]:
empty = []

In [110]:
student = ["mayowa", "desmond", "seyi", "evans"]

In [111]:
empty.append(student[0])
empty.append(student[1])
empty.append(student[2])
empty.append(student[3])

In [112]:
print(empty)

['mayowa', 'desmond', 'seyi', 'evans']

In [116]:
print(empty)

['mayowa', 'desmond', 'seyi', 'evans']

In [117]:
empty.remove(empty[-1])

In [118]:
print(empty)

['mayowa', 'desmond', 'seyi']

In [113]:
student = ["mayowa", "desmond", "seyi", "evans"]

In [114]:
student.remove(student[-1])

In [115]:
print(student)

['mayowa', 'desmond', 'seyi']

In [119]:
a = [1, 2]
b = [10, 20]

In [125]:
print(a + b)

[1, 2, 10, 20]

In [141]:
nested = [['A', 'man'], ['a', 'plan'], ['a', 'canal'], ['Panama', '!']]

In [127]:
print(len(nested))

4

In [146]:
print(nested[1] + nested[2])

['a', 'plan', 'a', 'canal']

In [148]:
print(len(nested[1] + nested[2]))

4

In [136]:
print(nested[1:3])

[['a', 'plan'], ['a', 'canal']]

In [143]:
first = nested[1]
second = nested[2]
print(first + second)

['a', 'plan', 'a', 'canal']

In [ ]:
['a', 'plan', 'a', 'canal']

In [151]:
numbers = [1, 1, 3]

In [156]:
total = sum(numbers)
length = len(numbers)

In [157]:
print(total/length)

1.6666666666666667

In [158]:
print(min(numbers))

1

In [159]:
print(max(numbers))

3

In [184]:
lst = [1, 4, 3, 7]

In [163]:
print(sorted(lst, reverse=True))

[7, 4, 3, 1]

In [186]:
lst.reverse()

In [187]:
print(lst)

[1, 4, 3, 7]

In [175]:
statement = "I love you"

In [177]:
print(statement.replace("you", "mayowa"))

I love mayowa

In [178]:
text = "testing my new"

In [179]:
print(text.replace("new", "function"))

testing my function

# sets

In [188]:
dupe_list = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]

In [189]:
print(set(dupe_list))

{1, 2, 3, 4, 5}

In [190]:
names = ["ayo", "deji", "ayo"]

In [192]:
new_set = set(names)

In [194]:
print(list(new_set))

['deji', 'ayo']

In [195]:
dupe_list = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]

In [196]:
remove_duplicates = set(dupe_list)

In [200]:
list_convert = list(remove_duplicates)

In [201]:
print(list_convert)

[1, 2, 3, 4, 5]

# Tuple

In [202]:
first_tuple = (1, 2, 3, 4)

In [203]:
print(type(first_tuple))

<class 'tuple'>

In [204]:
# you cannot append into a tuple
first_tuple.append(7)

AttributeError: 'tuple' object has no attribute 'append'

In [205]:
convert = list(first_tuple)

In [207]:
print(convert)

[1, 2, 3, 4]

In [208]:
convert.append(10)

In [209]:
print(convert)

[1, 2, 3, 4, 10]

In [210]:
tuple_convert = tuple(convert)

In [213]:
print(tuple_convert)

(1, 2, 3, 4, 10)

In [212]:
print(type(tuple_convert))

<class 'tuple'>

# Dictionary

In [214]:
ages = {'Brian':23, 'Amy':22, 'Darlene':47, 'Ralph':32, 'Jordan':28, 'Stephanie':35}

In [215]:
print(type(ages))

<class 'dict'>

In [218]:
first = ages["Amy"]

In [219]:
print(first)

22

In [220]:
print(ages.keys())

dict_keys(['Brian', 'Amy', 'Darlene', 'Ralph', 'Jordan', 'Stephanie'])

In [221]:
print(ages.values())

dict_values([23, 22, 47, 32, 28, 35])

In [222]:
print(ages)

{'Brian': 23, 'Amy': 22, 'Darlene': 47, 'Ralph': 32, 'Jordan': 28, 'Stephanie': 35}

In [223]:
ages['Vanessa'] = 30

In [224]:
print(ages)

{'Brian': 23, 'Amy': 22, 'Darlene': 47, 'Ralph': 32, 'Jordan': 28, 'Stephanie': 35, 'Vanessa': 30}

In [225]:
del ages['Vanessa']

In [226]:
print(ages)

{'Brian': 23, 'Amy': 22, 'Darlene': 47, 'Ralph': 32, 'Jordan': 28, 'Stephanie': 35}